In [1]:
import numpy as np
import pandas as pd

In [6]:
pwd # present working directory

'F:\\Python'

In [2]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
df.to_csv('example',index=False)

In [4]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [5]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

AttributeError: 'list' object has no attribute 'to_excel'