In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hierarch_index = list(zip(outside,inside))

In [9]:
hierarch_index = pd.MultiIndex.from_tuples(hierarch_index)

In [10]:
hierarch_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(np.random.randn(6,3), index = pd.MultiIndex.from_tuples(hierarch_index),columns='A B C'.split())

In [13]:
df

             A         B         C
G1 1 -0.555634  0.200578 -0.908484
   2 -1.141649 -0.062682  1.484853
   3  1.222113  0.139539 -0.714071
G2 1 -0.863129  0.017206 -0.588688
   2 -1.320980 -0.695642  1.372985
   3  1.104071 -0.552632  0.282282

In [14]:
# how to indexing on these type of indices(multiindex). Let see some examples

In [15]:
df.loc['G1']

          A         B         C
1 -0.555634  0.200578 -0.908484
2 -1.141649 -0.062682  1.484853
3  1.222113  0.139539 -0.714071

In [25]:
df.loc['G1'].loc[[1,2]]

          A         B         C
1 -0.555634  0.200578 -0.908484
2 -1.141649 -0.062682  1.484853

In [26]:
df.iloc[0]

A   -0.555634
B    0.200578
C   -0.908484
Name: (G1, 1), dtype: float64

In [27]:
# write now the indices 'G1 G2' and 1 2 3 are unnamed if you want to name it 
#you can name it with df.index.names function or operator

In [31]:
df.index.names=['Group','Num']

In [32]:
df

                  A         B         C
Group Num
G1    1   -0.555634  0.200578 -0.908484
      2   -1.141649 -0.062682  1.484853
      3    1.222113  0.139539 -0.714071
G2    1   -0.863129  0.017206 -0.588688
      2   -1.320980 -0.695642  1.372985
      3    1.104071 -0.552632  0.282282

In [ ]:
# df.xs which is a crossection function
 we are going to see another great feature or rather function of python df.xs which is a crossection function.
what great about this feature is that it can go inside very easily let see some exmaples

In [33]:
df.xs('G1')

            A         B         C
Num
1   -0.555634  0.200578 -0.908484
2   -1.141649 -0.062682  1.484853
3    1.222113  0.139539 -0.714071

In [39]:
# suppose we want index'1' values from "G1" and "G2"  this we can achieve with "XS" 

df.xs(1, level='Num')

              A         B         C
Group
G1    -0.555634  0.200578 -0.908484
G2    -0.863129  0.017206 -0.588688

In [ ]:
that's how we do it'